.bg-light{
    background-color: #ffffff!important;
}

.navbar-toggler{
    align-items: initial;
}

.home__logo--pad{
    padding: 4px 12px 4px 12px;
}

.home__img--circle{
    border-radius: 50%;
    margin-top: 3%;
    width: 18rem;
    height: 18rem;
}

.home__txt{
    border: #ffffff;
    background-color: #6da7d9;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    margin-right: 158rem;
    margin-left: 158rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    border-radius: 30px;
}

.home__txt--right{
    border: #ffffff;
    background-color: #d99f6d;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    margin-right: 158rem;
    margin-left: 158rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    border-radius: 30px;
}

.home__txt--center{ 
    border: #ffffff;
    background-image: linear-gradient(to right,#d99f6d, #6da7d9);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    border-radius: 30px;
}

.tab__shift--right{
    text-align: right;
}

.tab__shift--left{
    text-align: left;
}

.center__item{
    display: grid;
	place-content: center;
}
.right__item{
    display: grid;
	place-content: right;
}

.home_parent--container{
    padding: 20px;
}

.home__child--container{
    width: 50%;
    padding: 20px;
    float: left;
}
.home__child--center{
    width: 100%;
    margin-top: -22.2rem;
    float: left;
}

.contact__background--format{
    padding: 1rem;
    background-image:linear-gradient(to right, #314A7E 20%, #F4A814 40%, #9B11D3 60%, #FF6600 80%);
    font-family: 'Cinzel Decorative', cursive;
    color: whitesmoke;
}

.contact__text--format{
   margin: 0rem;
}

.contact__images--layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    justify-items: center;
    margin-top: 0rem;
}

.contact__images{
    width: 75%;
    display: grid;
    place-items: center;
}

.contact__buttons{
    display: grid;
    place-items: center;
    width: 17rem;
    height: 5rem;
    font-size: 40px;
    filter: drop-shadow(10px 10px 6px rgba(17, 15, 15, 0.301));
}

.contact__buttons a{
    color: white;
}
.contact__buttons a:hover{
    color: white;
    text-decoration: none;    
}

.contact__buttons--facebook-color{
    background-color: #314A7E;
    border-color: #314A7E;
    border-radius: 500px;
    margin: 1rem;
    margin-top: 0.5rem;
}

.contact__buttons--instagram-color{
    background-image: linear-gradient(45deg, #F4A814, #9B11D3);
    border-color: transparent;
    border-radius: 500px;
    margin: 1rem;
    margin-top: 0.5rem;
}

.contact__buttons--etsy-color{
    background-color: #FF6600;
    border-color: #FF6600;
    border-radius: 500px;
    margin: 1rem;
    margin-top: 0.5rem;
}

.project__page--grid{
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project__img--code{
    width: 70%;
    border-radius: 10%;
    margin: 1rem;
}

.project__img--arduino{
    width: 20%;
    border-radius: 10%;
    margin-left: -27%;
    margin-top: -55%; 
}

@media only screen and (max-width: 991px){
    .home__child--center{
            margin-top: -14.2rem;
        }
}

@media only screen and (max-width: 991px){
    .goaway{
        display: none;
    }
}

@media only screen and (max-width: 991px){
    .home__txt--center{ 
        border: #ffffff;
        background-color: #6da7d9;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 991px){
    .home__txt{ 
        border: #ffffff;
        background-color: #6da7d9;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 991px){
    .home__txt--right{ 
        border: #ffffff;
        background-color: #d99f6d;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 991px){
    .home__img--circle{
        width: 11rem;
        height: 11rem;
    }
}

@media only screen and (max-height: 628px){
    .home__child--center{
            margin-top: -14.2rem;
        }
}

@media only screen and (max-height: 628px){
    .home__img--circle{
        width: 11rem;
        height: 11rem;
    }
}
