.bg-light{
    background-color: #ffffff!important;
    font-family: 'Cinzel Decorative', cursive;
    color: #e7e7e7;
}

.home__txt--name{
    font-family: 'Cinzel Decorative', cursive;
    color: #e7e7e7;
    font-size: 20px;
}
 

.navbar-toggler{
    align-items: initial;
}

.home__logo--pad{
    padding: 4px 12px 4px 12px;
}

.home__img--circle{
    border-radius: 50%;
    margin-top: 3%;
    width: 18rem;
    height: 18rem;
}

.home__txt{
    border: #ffffff;
    background-color: #6da7d9;
    color: #e7e7e7;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    margin-right: 158rem;
    margin-left: 158rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    border-radius: 30px;
}

.home__txt--right{
    border: #ffffff;
    background-color: #d99f6d;
    color: #e7e7e7;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    margin-right: 158rem;
    margin-left: 158rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    border-radius: 30px;
}

.home__txt--center{ 
    border: #ffffff;
    background-image: linear-gradient(to right,#d99f6d, #6da7d9);
    font-family: 'Cinzel Decorative', cursive;
    color: #e7e7e7;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    border-radius: 30px;
}

.tab__shift--right{
    text-align: right;
}

.tab__shift--left{
    text-align: left;
}

.center__item{
    display: grid;
	place-content: center;
}
.right__item{
    display: grid;
	place-content: right;
}

.home_parent--container{
    padding: 20px;
}

.home__child--container{
    width: 50%;
    padding: 20px;
    float: left;
    font-family: 'Cinzel Decorative', cursive;
    color: #e7e7e7;
}
.home__child--center{
    width: 100%;
    margin-top: -22.2rem;
    float: left;
    font-family: 'Cinzel Decorative', cursive;
    color: #e7e7e7;
}

.contact__background--format{
    padding: 1rem;
    background-image:linear-gradient(to right, #314A7E 20%, #F4A814 40%, #9B11D3 60%, #FF6600 80%);
    font-family: 'Cinzel Decorative', cursive;
    color: whitesmoke;
}

.contact__text--format{
   margin: 0rem;
}

.contact__images--layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    justify-items: center;
    margin-top: 0rem;
}

.contact__images{
    width: 75%;
    display: grid;
    place-items: center;
    margin-top: 0.5rem;
}

.contact__buttons{
    display: grid;
    place-items: center;
    width: 17rem;
    height: 5rem;
    font-size: 40px;
    filter: drop-shadow(10px 10px 6px rgba(17, 15, 15, 0.301));
}

.contact__buttons a{
    color: white;
}
.contact__buttons a:hover{
    color: white;
    text-decoration: none;    
}

.contact__buttons--facebook-color{
    background-color: #314A7E;
    border-color: #314A7E;
    border-radius: 500px;
    margin: 1rem;
    margin-top: 0.5rem;
}

.contact__buttons--instagram-color{
    background-image: linear-gradient(45deg, #F4A814, #9B11D3);
    border-color: transparent;
    border-radius: 500px;
    margin: 1rem;
    margin-top: 0.5rem;
}

.contact__buttons--etsy-color{
    background-color: #FF6600;
    border-color: #FF6600;
    border-radius: 500px;
    margin: 1rem;
    margin-top: 0.5rem;
}

.project__page--grid{
    display: grid; 
    grid-template-columns: 0.5fr 1fr;
}

.project__img--grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project__img--code {
    width: 55%;
    border-radius: 10%;
    margin: 0.5%;
    margin-left: 2%;
    justify-content: space-evenly;
}

.project__img--KDA {
    margin-top: -10%;
    margin-left: -6%;
}

.project__img--squirt {
    margin-top: 1%;
    margin-left: -6%;
}

.project__img--code1 {
    margin-left: 33%;
}

.project__img--goku {
    margin-left: 33%;
    margin-top: 2%;
}

.project__img--arduino{
    width: 20%;
    border-radius: 10%;
    margin-left: -27%;
    margin-top: -55%; 
}

.projects__dropdown--menu{
    background-image: linear-gradient(to right,#d99f6d, #6da7d9)!important;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
    margin-right: 0rem;
}

.project__header--text {
    background-image: linear-gradient(to right,#6da7d9, #d99f6d)!important;
    margin: 1rem;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-left: -1rem;
    margin-right: 0;
    padding-left: 3rem;
    font-family: 'Cinzel Decorative', cursive;
    color: #e7e7e7;
}

.card-header:first-child {
    border-radius: calc(-4.75rem - 1px) calc(0.9rem - 1px) 0 0;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: #e7e7e7;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: inherit;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-header:first-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.btn-link{
    font-family: 'Cinzel Decorative', cursive;
    color: #e7e7e7;
}

.aboutme__img--code {
    width: 45%;
    border-radius: 10%;
    margin: 0.5%;
    margin-left: 2%;
    justify-content: space-evenly;
}

.aboutme__img--grid{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.aboutme__img--center {
    display: grid;
    justify-items: end;
}

.aboutme__img--desk {
    margin-top: -3.5%;
}

@media only screen and (max-width: 991px){
    .home__child--center{
            margin-top: -14.2rem;
        }
}

@media only screen and (max-width: 991px){
    .goaway{
        display: none;
    }
}

@media only screen and (max-width: 991px){
    .home__txt--center{ 
        border: #ffffff;
        background-color: #6da7d9;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 991px){
    .home__txt{ 
        border: #ffffff;
        background-color: #6da7d9;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 991px){
    .home__txt--right{ 
        border: #ffffff;
        background-color: #d99f6d;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 991px){
    .home__img--circle{
        width: 11rem;
        height: 11rem;
    }
}

@media only screen and (max-height: 628px){
    .home__child--center{
            margin-top: -14.2rem;
        }
}

@media only screen and (max-height: 628px){
    .home__img--circle{
        width: 11rem;
        height: 11rem;
    }
}
